@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;500;700&display=swap');
:root {
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-black: rgba(255,255,255,0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    
}

body {
    font-family: "Roboto Condensed", sans-serif !important;
}

/******************* NAVIGATION BAR ***************************/
.logo {
    width: 15rem;  
}

/******************* MENU LINKS ***************************/
nav a.nav-link {
    font-weight: 500;
    letter-spacing: 0.9px;
    cursor: pointer;
    border-top: 0.1875rem solid transparent; 
    padding-top: 0.75rem; 
    transition: color 0.3s ease, border-top-color 0.3s ease;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: var(--primary-white);
}

.navbar-nav > li > a.active, 
.navbar-nav > li > a:focus {
    border-top-color: var(--primary-orange); 
    color: var(--primary-orange); 
}

.navbar {
    display: flex;
    align-items: center;
    z-index: 1; 
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
}

#hamburguer-icon {
    color: var(--primary-white);
}

/******************* TOGLE BAR ***************************/
@media (max-width: 992px) {
    .navbar-toggler {
        align-self: center; 
        margin-top: auto;
        margin-bottom: auto;
        height: 100%; 
        display: flex;
        align-items: center; 
    }

    .navbar-collapse {  
        display: flex;
        flex-direction: column;
        position: static; 
        width: 100%;
        margin-top: 0.5rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav {
        width: 100%;
        text-align: left;
        padding-left: 1rem;
    }

    .collapse.show {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

/******************* HEADER ***************************/
.header-wraper {
    position: relative;
    background: url("../src/assets/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    z-index: -1;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-info h1 {
    color: var(--primary-orange);
    text-transform: uppercase;
    margin-top: .5rem;
    display: block;
    
}

/******************* TYPED TEXT ***************************/

/* Ajusta la posición del cursor y el texto */
.typed-container {
    display: inline-block;
    font-size: 2rem;
    color: var(--primary-white);
  }
  
  .typed-text {
    display: inline;
  }


  /******************* HEADER MAIN OFFER BUTTON***************************/
.btn-main-offer {
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem  0.75rem ;
    color: var(--primary-white);
    margin: 2rem;
}

.btn-main-offer:hover {
    text-decoration: underline; 
  }

  /******************* PARTICLES ***************************/  